* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* 
body{
  background-color: rgb(248, 231, 211);
  text-align: center;
}
.site-title{
  border-bottom: 1px;
  border: 2px double #afa9a4;
  background-color: #f8e1cc;
  margin: auto;
  border-radius: 15px;
}
.note-entry{
  border-bottom: 1px;
  font-size: x-large;
  border: 2px double #afa9a4;
  background-color: #f0d4b9;
  margin: auto;
  border-radius: 20px;
}

.note-entries{
  border-top: 1px;
  border: 18px solid #b47a44;
  background-color: #d1a179;
  margin: auto;
  border-radius: 20px;
}*/
.note{
  text-align: left;
  color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
} 

