* {
  box-sizing: border-box;
}
label#note-title-entry-label, label#note-content-entry-label{
  font-weight: bold;
  font-size: x-large;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  margin-left: 4%;
  margin-right: 3%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body{
  background-color: rgb(248, 231, 211);
  text-align: center;
  height: 760px;
}
.site-title{
  /* border-bottom: 1px;
  border: 2px double #afa9a4;
  background-color: #f8e1cc;
  border-radius: 15px;  */
  margin: auto;
}
.note-entry{
  border-bottom: 1px;
  font-size: x-large;
  border: 2px double #afa9a4;
  background-color: #f0d4b9;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
}

.note-entries{
  position: relative;
  border-top: 1px;
  border: 18px solid #b47a44;
  /* background-color: #d1a179; */
  background-image: url('images/cork_background.png');
  margin: auto;
  border-radius: 20px;
  opacity: 0.7;
  height: 100%;
}


.note{
  position:relative;
  height: 200px;
  text-align: left;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 

.note:hover{
  transform: scale(1.05);
} 

.note .note-title{
  font-style: bold;
  font-size: large;
}

.note .note-content{
  font-size: medium;
}

.submit-note-button{
  background-color: #3d00e0;
  color: white;
  width: 20%;
}

.clear-note-item-button{
  position: absolute;
  bottom: 0;
  right: 0;
  shape-rendering: crispEdges;
  background-color: #B00020;
}

.clear-notes-button{
  position:absolute;
  bottom:0;
  color: white;
  shape-rendering: crispEdges;
  background-color: #B00020;
}

.see-entire-note-button{
  position:absolute;
  top:0;
  right:0;
  color: white;
  shape-rendering: crispEdges;
  background-color: #0fb000;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
